<template>
    <div class="order-item">
        <div class="row">
            <div class="image-box col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <img :src="productImageAddress + orderItem.product.imagelink" alt="">
            </div>
            <div class="title-box col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="title">{{orderItem.product.title}}</div>
                <div class="description">{{orderItem.product.description}}</div>
            </div>
            <div class="count-box text-center col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
                <span>تعداد</span>
                <ul class="list-unstyled">
                    <li class="list-inline-item">
                        <button class="btn btn-minus"><i class="fa fa-minus"></i></button>
                    </li>
                    <li class="list-inline-item count"><span>1</span></li>
                    <li class="list-inline-item">
                        <button class="btn btn-plus"><i class="fa fa-plus"></i></button>
                    </li>
                </ul>
            </div>
            <div class="price-box text-center col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <div :class="{'price': true, 'has-discount': orderItem.product.discount}">
                    {{orderItem.product.price | custom-currency}}
                    <span class="line" v-if="orderItem.product.discount"></span>
                </div>
                <div class="discount"><span v-if="orderItem.product.discount">{{orderItem.product.discount | custom-currency}}</span></div>
            </div>
            <div class="delete-box col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                <span v-on:click="deleteProductFromOrderAction(orderItem.product)"><i class="fa fa-trash" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="packet-type row">
            <div class="title col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">نوع بسته بندی</div>
            <div class="packet-item col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked">
                        <span>پلاستیکی</span>
                        <span class="price">{{300 | custom-currency}}</span>
                    </label>
                </div>
            </div>
            <div class="packet-item col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked1" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked1">
                        <span>شیشه ایی</span>
                        <span class="price">{{600 | custom-currency}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "OrderItem",
        props: ["orderItem"],
        computed: {
            ...mapGetters(["productImageAddress"]),
        },
    }
</script>

<style scoped>

</style>