<template>
    <div class="address-box">
        <div class="row">
            <div class="select col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <select-address></select-address>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <register-address></register-address>
            </div>
        </div>
    </div>
</template>

<script>
    import SelectAddress from "../../components/order/SelectAddress"
    import RegisterAddress from "../../components/order/RegisterAddress"
    export default {
        name: "OrderAddress",
        components: {
            SelectAddress,
            RegisterAddress,
        }
    }
</script>

<style scoped>

</style>