<template>
    <div class="order-price-box">
        <div class="row">
            <div class="price-item col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                    <div class="title col-xl-7 col-lg-7 col-md-8 col-sm-12 col-12">جمع سفارشات</div>
                    <div class="price col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">{{72000 | custom-currency}}</div>
                </div>
                <div class="row">
                    <div class="title col-xl-7 col-lg-7 col-md-8 col-sm-12 col-12">هزینه ارسال به ازای هر کیلو گرم</div>
                    <div class="price col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">{{2000 | custom-currency}}</div>
                </div>
                <div class="row">
                    <div class="title col-xl-7 col-lg-7 col-md-8 col-sm-12 col-12">مالیات بر ارزش افزوده</div>
                    <div class="price col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">{{9000 | custom-currency}}</div>
                </div>
            </div>
            <div class="final-price text-center col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="title">هزینه کل</div>
                <div class="price">{{83000 | custom-currency}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderPrice"
    }
</script>

<style scoped>

</style>