<template>
    <div class="register-address text-center">
        <div class="title">آدرس جدید</div>
        <form>
            <div class="row">
                <div class="col-3 text-right">استان</div>
                <div class="col-9">
                    <md-select v-model="state" :items="stateList" :search="false" :placeholder="'انتخاب استان'"></md-select>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">شهر</div>
                <div class="col-9">
                    <md-select v-model="city" :items="cityList" :search="true" :placeholder="'انتخاب شهر'"></md-select>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">کدپستی</div>
                <div class="col-9">
                    <input type="text" class="form-control text-center" placeholder="کدپستی">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea class="form-control" placeholder="ورود آدرس به طور کامل"></textarea>
                </div>
            </div>
            <button class="btn btn-green">ثبت آدرس</button>
        </form>
    </div>
</template>

<script>
    import MdSelect from "../shared/MdSelect"
    export default {
        name: "RegisterAddress",
        components: {MdSelect},
        data(){
            return {
                // state: {id: null, title: null},
                state: null,
                city: null,
                stateList: [
                    {id: 1, title: 'تهران'},
                    {id: 2, title: 'فارس'},
                    {id: 3, title: 'خوزستان'},
                    {id: 4, title: 'اصفهان'},
                ],
                cityList: [
                    {id: 1, title: 'شیراز'},
                    {id: 2, title: 'فسا'},
                    {id: 3, title: 'کازرون'},
                    {id: 4, title: 'جهرم'},
                ],
            }
        }
    }
</script>

<style scoped>

</style>