<template>
    <div class="select-address text-center">
        <div class="title">آدرس</div>
        <div class="empty-address" v-if="mainAddress">
            <div class="image-box text-center"><img :src="'static/image/order/address-delivery.png'" alt=""></div>
            <div class="lable">آدرسی ثبت نشده است</div>
        </div>
        <div class="main-address" v-else>address</div>
        <div class="btn-box text-center">
            <button class="btn btn-green" data-toggle="modal" data-target=".bd-example-modal-lg">انتخاب آدرس</button>
        </div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <address-item :address="addres" v-for="addres in address" :key="addres.id"></address-item>
                    <div class="text-center">
                        <button class="btn btn-green">انتخاب آدرس</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import AddressItem from "./AddressItem"
    export default {
        name: "SelectAddress",
        components: {AddressItem},
        computed: {
            // ...mapGetters({address: "address", mainAddress: "mainAddress"})
            ...mapGetters(["address", "mainAddress"])
        },
        methods: {
            ...mapActions(["getAddressAction"])
        },
        created() {
            this.getAddressAction();
        }
    }
</script>

<style scoped>

</style>