<template>
    <div>
        <div class="custom-control custom-switch">
            <input v-on:change="showWithoutMembership=!showWithoutMembership" type="checkbox"
                   class="custom-control-input" id="buyWithoutMembershipSwitch" checked>
            <label class="custom-control-label" for="buyWithoutMembershipSwitch">خرید بدون عضویت</label>
        </div>
        <transition enter-active-class="animated pulse fast" leave-active-class="animated pulse faster">
            <div class="without-membership-box" v-if="showWithoutMembership">
                <div class="row">
                    <div class="text-center col-3">خرید بدون عضویت</div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-5">
                                <input class="text-center form-control" type="text" name="phone"
                                       placeholder="شماره همراه">
                            </div>
                            <div class="col-6">
                                <button class="btn btn-confirm">دریافت کد تایید</button>
                            </div>
                        </div>
                        <div class="row code-box">
                            <div class="col-5">
                                <input class="text-center form-control" type="text" name="confirmeCode"
                                       placeholder="کد تایید">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </transition>

    </div>
</template>

<script>
    export default {
        name: "WithoutMembership",
        data() {
            return {
                showWithoutMembership: false,
            }
        }
    }
</script>

<style scoped>

</style>