<template>
    <header>
        <div id="nav">
            <div class="row">
                <div class="nav-right col-xl-1 col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6">
                    <button type="button" class="btn-collapse-menu btn" v-on:click.stop="ChangeshowCollapseMenue()" v-if="windowWidth<=990">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </button>
                    <img :src="headerImageAddress + 'shop-logo.png'" alt="shoplineLogo">
                </div>
                <div class="nav-center col-xl-9 col-lg-8 col-md-7 col-sm-1 col-xs-1 col-1">
                    <nav-tabs  v-if="windowWidth>990"></nav-tabs>
                </div>
                <div class="nav-left text-left col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6 col-6">
                    <shopping-cart v-click-outside="ClickOutsideShoppingCart" v-on:changeShowShopping="ChangeshowShoppingCart" :showShoppingCart="showShoppingCart" :headerImageAddress="headerImageAddress"></shopping-cart>
                    <div class="search-box ltr">
                        <span><i class="fa fa-search fa-rotate-90" aria-hidden="true" v-on:click="showSearch=!showSearch"></i></span>
                        <transition name="search"><input v-if="showSearch" class="text-center" type="text" placeholder="جستجو" style=""></transition>
                    </div>
                </div>
            </div>
            <transition enter-active-class="animated slideInRight fast" leave-active-class="animated slideOutRight faster">
                <collapse-menue v-click-outside="ClickOutsideCollapseMenue" v-on:click.stop="stop()" v-if="showCollapseMenue"></collapse-menue>
            </transition>
        </div>
<!--        <div class="search-box text-center">-->
<!--            <img :src="headerImageAddress + 'search-icon.png'" alt="">-->
<!--&lt;!&ndash;            <span class="search-icon"><i class="fa fa-search fa-rotate-90" aria-hidden="true"></i></span>&ndash;&gt;-->
<!--            <input class="text-center" type="text" placeholder="جستجو">-->
<!--        </div>-->
    </header>
</template>

<script>
    import NavTabs from "./navtab/NavTabs";
    import CollapseMenue from "./CollapseMenue";
    import ShoppingCart from "./cart/ShoppingCart";
    export default {
        name: "AppHeader",
        components: {NavTabs, CollapseMenue, ShoppingCart},
        data() {
            return {
                showCollapseMenue: false,
                showShoppingCart: false,
                showSearch: false,
                windowWidth: window.innerWidth,
                headerImageAddress: "static/image/header/",
            }
        },
        methods: {
            ClickOutsideShoppingCart() {
                /*console.log('click heard outside element: ', el);
                console.log('event: ', e);
                console.log('element clicked: '. e.target);*/
                this.showShoppingCart = false;
            },
            ClickOutsideCollapseMenue(){
                this.showCollapseMenue = false;
            },
            ChangeshowShoppingCart(){
                this.showCollapseMenue = false;
                this.showShoppingCart = !this.showShoppingCart;
            },
            ChangeshowCollapseMenue(){
                this.showShoppingCart = false;
                this.showCollapseMenue = !this.showCollapseMenue;
            }
        },
        mounted() {
            window.onresize = () => {
                this.windowWidth = window.innerWidth
            }
        },
    };
</script>

<style scoped>
    .search-enter-active {
        animation: slide-in 200ms ease-in-out;
    }
    .search-leave-active {
        animation: slide-out 200ms ease-in-out;
    }

    @keyframes slide-in {
        from {
            width: 0;
        }
        to {
            width: 250px;
        }
    }

    @keyframes slide-out {
        from {
            width: 250px;
        }
        to {
            width: 0;
        }
    }
    @media (max-width: 575px) {
        @keyframes slide-in {
            from {
                width: 0;
            }
            to {
                width: 160px;
            }
        }

        @keyframes slide-out {
            from {
                width: 160px;
            }
            to {
                width: 0;
            }
        }
    }
</style>