<template>
        <div class="collapse-menue z-depth-1-half">
            <div class="collapse-header">
                <img class="shopline-logo" :src="'static/image/header/shop-logo.png'" alt="shoplineLogo">
            </div>
            <ul class="list-unstyled">
                <li class=""><router-link to="/">صفحه اصلی</router-link></li>
                <li class=""><router-link to="/product">محصولات</router-link></li>
                <li class=""><router-link to="/">وبلاگ</router-link></li>
                <li v-if="isUserAuthenticated" class=""><router-link :to="{name: 'Login'}" event="" @click.native.prevent="logOutAction()">خروج</router-link></li>
                <li v-if="!isUserAuthenticated" class=""><router-link :to="{name: 'Login'}">ورود</router-link></li>
                <li v-if="!isUserAuthenticated" class=""><router-link :to="{name: 'Signup'}">ثبت نام</router-link></li>
            </ul>
        </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: "CollapseMenue",
        computed: {
            ...mapGetters(["isUserAuthenticated"])
        },
        methods: {
            ...mapActions(["checkUserIsAuthenticatedAction", "logOutAction"]),
        },
        created() {
            this.checkUserIsAuthenticatedAction();
        }
    }
</script>

<style scoped>

</style>