<template>
    <div class="md-select" v-click-outside="clickOutsideSelect">
        <input type="text" class="selected-option readonly text-center form-control" v-model="selectedItem"
               v-on:click="showOptionList=!showOptionList" :placeholder="placeholder" readonly/>
        <span v-on:click="showOptionList=!showOptionList"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        <transition enter-active-class="animated zoomInDown fast"  leave-active-class="animated zoomOut fast">
            <div class="option-list z-depth-1" :style="{top: topSize}" v-show="showOptionList">
                <input type="text" class="search form-control" v-model="searchItem" v-if="search" placeholder="جستجو">
                <ul class="list-unstyled">
                    <li :class="{'option-itme': true, 'active': activeClass===item.id}" v-for="item in filteredItems" :key="item.id" :value="item.id"
                        v-on:click="handleInput(item)">{{item.title}}
                    </li>
                </ul>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "MdSelect",
        // props: ['value', 'items', 'search', 'placeholder'],
        props: {
            value: {type: Object},
            items: {type: Array},
            search: {type: Boolean, default: false},
            placeholder: {type: String}
        },
        data() {
            return {
                showOptionList: false,
                selectedItem: null,
                activeClass: null,
                content: this.value,
                topSize: '40px',
                searchItem: null
            }
        },
        computed: {
            filteredItems() {
                return this.searchItem != null ?
                    this.items.filter(item => item.title.includes(this.searchItem)) : this.items
            }
        },
        methods: {
            setTop(){
                let selectedOption = document.querySelector('.selected-option');
                this.topSize = selectedOption.getBoundingClientRect().height + 'px';
            },
            handleInput(option) {
                console.log(option);
                this.selectedItem = option.title;
                this.activeClass = option.id;
                this.content = option;
                this.showOptionList = false;
                this.$emit('input', this.content);
            },
            clickOutsideSelect() {
                this.showOptionList=false;
            }
        },
        mounted() {
            this.setTop();
        }
    }
</script>

<style scoped>

</style>