<template>
    <div class="panel">
        <div class="panel-header">
            <slot name="header"></slot>
        </div>
        <div class="panel-content">
            <slot name="content"></slot>
        </div>
        <div class="panel-footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PanleItem"
    }
</script>

<style scoped>

</style>