body {
    direction: rtl;
    text-align: right;
}

header {
    background-color: #163F6B;
    /*border-radius: 0 0 50% 50%/ 0 0 100% 100%;*/
}

input {
    border: none;
    outline: none !important;
    box-shadow: none !important;

}

textarea {
    resize: none;
    box-shadow: none !important;
    outline: none !important;
}

.md-select {
    position: relative;
}

.md-select input.readonly {
    cursor: pointer;
    font-size: 18px;
    background-color: white;
}

.md-select span {
    top: 8px;
    left: 15px;
    color: grey;
    cursor: pointer;
    position: absolute;
}

.md-select .option-list {
    right: 0;
    top: 40px;
    z-index: 1;
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    padding: 12px 0 10px 0;
    position: absolute;
    background-color: white;
}

.md-select .option-list input.search {
    width: 96%;
    color: #2a2a2a;
    margin: 0 2% 15px 0;
    text-align: center;
    border-radius: 25px !important;
}

.md-select .option-list ul {
    padding: 0;
    margin: 0;
}

.md-select .option-list .option-itme {
    font-size: 18px;
    text-align: right;
    padding: 10px 15px 10px 0;
}

.md-select ul .option-itme:hover {
    background-color: #f3f3f3;
}

.md-select ul .option-itme.active {
    color: #1867c0 ;
    background-color: rgba(166, 192, 209, 0.33);
}

.custom-switch .custom-control-label {
    font-size: 22px;
}

.custom-switch .custom-control-label::before {
    left: -4.25rem;
    height: 1.2rem;
    width: 3.2rem;
    cursor: pointer;
    border-radius: 1rem;
    border-color: #06A68B;
    background-color: #06A68B;
    outline: none !important;
    box-shadow: none !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #06A68B;
    background-color: #BDE4DE;
}

.custom-switch .custom-control-label::after {
    cursor: pointer;
    border-radius: 2rem;
    top: calc(.25rem + 2px);
    left: calc(-4.20rem + 2px);
    width: calc(1.2rem - 4px);
    height: calc(1.2rem - 4px);
    background-color: whitesmoke;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #06A68B !important;
    -webkit-transform: translateX(1.9rem);
    transform: translateX(1.9rem);
}

.custom-radio .custom-control-label::before {
    right: -40px;
    width: 1.3rem;
    height: 1.3rem;
    padding: 2px;
    border: 1px solid grey;
    outline: none !important;
    box-shadow: none !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    border: 1px solid grey;
    background-color: #36a68d;
}

.custom-radio .custom-control-label::after {
    right: -40px;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}

.custom-container {
    padding: 0 33%;
}

.container2 {
    padding: 0 10%;
}

.row {
    margin: 0 !important;
}

ul {
    padding: 0;
}

.textcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

#nav {
    direction: rtl;
    text-align: right;
    padding-bottom: 10px;
    font-family: "B Koodak";
    background-color: #163F6B;
}

.nav-right img {
    width: 110px;
}

.nav-center {
    padding-top: 40px;
}

.nav-center .menue > li {
    position: relative;
    text-align: center;
    margin: 0 8px;
    padding: 0 8px 5px 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: "B Koodak";

}

.nav-center .menue > li a {
    color: white;
}

.nav-center .menue > li a:hover {
    color: #38c9bd;
}

.nav-center .menue > li {
    border-bottom: 2px solid #163F6B;
}

.nav-center .menue > li:hover {
    border-bottom: 2px solid #F1C40F;
}

.nav-center .menue > li .product-menue-box {
    top: 36px;
    right: 0;
    padding-top: 25px;
    position: absolute;
    z-index: 2;
}

.nav-center .menue > li .product-menue-box:before {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #06A68B;
}

.nav-center .menue > li .product-menue-box .products {
    height: 200px;
    width: 300px;
    border-radius: 7px;
    padding: 10px 13px 10px 0;
    color: white;
    position: relative;
    font-size: 18px;
    background-color: #06A68B;
}

.nav-center .product-menue-box .products .title {
    margin-bottom: 17px;
}

.nav-center .product-menue-box .products .product-group > li {
    cursor: pointer;
    margin-bottom: 10px;
    padding-right: 10px;
}

.nav-center .product-menue-box .products .product-group > li:hover {
    color: #393939;
    padding-right: 15px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    background-color: #F4F5F7;
    transition: all ease-in-out 200ms;
}

.nav-center .product-menue-box .products .product-group .category {
    position: relative;
}

.nav-center .product-menue-box .products .product-group > li:hover .fa-angle-left, .nav-center .product-menue-box .products .product-group > li:hover .sub-product-box {
    display: block;
}

.nav-center .product-menue-box .products .product-group > li .fa-angle-left {
    left: 5px;
    top: 4px;
    font-weight: bold;
    display: none;
    position: absolute;
}

.nav-center .product-menue-box .products .product-group > li .sub-product-box {
    left: -150px;
    top: 40px;
    width: 150px;
    padding-bottom: 10px;
    z-index: 1;
    display: none;
    cursor: default;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #eeeff1;
}

.nav-center .product-menue-box .products .product-group > li .sub-product-box .product-item {
    margin-top: 15px;
    padding-right: 15px;
}

.nav-center .product-menue-box .products .product-group > li .sub-product-box .product-item:hover {
    background-color: #c7edee;
}

.nav-center .product-menue-box .products .product-group > li .sub-product-box .product-item a {
    color: #393939;
}

.nav-center .product-menue-box .products .product-group > li .sub-product-box img {
    width: 35px;
    margin-left: 10px;
}

.nav-left .shopping-box {
    padding-top: 30px;
    position: relative;
}

.nav-left .shopping-box .shopping-icon {
    padding-left: 50px;
}

.nav-left .shopping-box .shopping-icon img {
    width: 36px;
    cursor: pointer;
}

.nav-left .shopping-box .shopping-icon .count {
    width: 23px;
    height: 23px;
    left: 59px;
    top: 28px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    background-color: #1e7e34;
}

.nav-left .shopping-box .shopping-cart {
    top: 90px;
    left: 20px;
    width: 350px;
    padding: 8px;
    z-index: 2;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #06A68B;
    /*background-color: #00acc1;*/
    background-color: #FFFFFF;
    font-family: "B Yekan";
}

.nav-left .shopping-box .shopping-cart:before {
    content: '';
    top: -15px;
    left: 40px;
    z-index: 1;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #06A68B;
}

.nav-left .shopping-box .shopping-cart .cart-item {
    width: 100%;
    margin: 10px 0;
    padding-bottom: 5px;
    border-radius: 5px;
}

.nav-left .shopping-box .shopping-cart .cart-item .image-box {
    margin: 0;
    padding-top: 5px;
}

.nav-left .shopping-box .shopping-cart .cart-item .image-box img {
    width: 80px;
}

.nav-left .shopping-box .shopping-cart .cart-item .delete-box {
    margin-bottom: 20px;
    position: relative;
}

.nav-left .shopping-box .shopping-cart .cart-item .delete-box span {
    left: 15px;
    top: -35px;
    font-size: 33px;
    color: #b31268;
    cursor: pointer;
    position: absolute;
}

.nav-left .shopping-box .shopping-cart .cart-item .price, .product-item .price-box {
    position: relative;
}

.nav-left .shopping-box .shopping-cart .cart-item .has-discount {
    font-size: 14px;
}

.nav-left .shopping-box .shopping-cart .cart-item .price .line, .product-item .price-box .line, .order-page .order-item .price-box .line {
    right: 12px;
    top: 10px;
    width: 112px;
    position: absolute;
    border-bottom: 2px solid #388E3C;
}

.order-page .order-item .price-box .line {
    right: 28%;
}

.product-item .price-box .line {
    width: 95%;
}

.nav-left .shopping-box .shopping-cart .cart-item .quentity {
    padding-right: 5px;
}

.nav-left .shopping-box .shopping-cart .footer {
    margin: 20px 0 8px 0 !important;
}

.nav-left .shopping-box .shopping-cart .footer .total-price {
    color: #353535;
    padding-left: 0;
    padding-top: 10px;
    font-size: 20px;
    position: relative;
}

.nav-left .shopping-box .shopping-cart .footer .complete-order {
    padding: 0;
}

.nav-left .shopping-box .shopping-cart .footer .complete-order .btn {
    margin: 0;
    padding: 8px;
    color: #2c2c2c;
    font-size: 17px;
    border-radius: 8px;
    background-color: #F1C40F;
}

.nav-left .search-box {
    top: 30px;
    left: 120px;
    position: absolute;
}

.nav-left .search-box .fa-search {
    color: #c2c2c2;
    cursor: pointer;
    font-size: 27px;
}

.nav-left .search-box input {
    left: 30px;
    width: 250px;
    height: 30px;
    position: absolute;
    border-radius: 4px;
}

.collapse-menue {
    top: 0;
    right: 0;
    z-index: 2;
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #14375d;
}

.collapse-menue img.shopline-logo {
    width: 100px;
    margin-right: 10px;
}

.collapse-menue ul li {
    margin-bottom: 5px;
    padding: 2px 20px 2px 0;
    transition: all ease-in-out 150ms;
}

.collapse-menue ul li:hover {
    background-color: #215c9c;
    padding-right: 30px;
}

.collapse-menue ul li a {
    font-size: 17px;
    color: whitesmoke;
}

.btn-collapse-menu {
    height: 30px;
    width: 31px;
    padding: 7px 0px 3px 0px;
    border: 0px;
    border-radius: 50%;
    margin-top: 5px;
    color: #eaeaea;
    background-color: #163F6B;
}

.btn-collapse-menu:hover {
    color: #3eded1;
}

/*.search-box {
    height: 80px;
    margin-top: 0px;
}

.search-box input {
    width: 350px;
    height: 34px;
    color: gray;
    position: relative;
    margin-right: -20px;
    padding-right: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-family: "B Yekan";
}

.search-box img {
    z-index: 1;
    width: 22px;
    margin-top: 6px;
    position: absolute;
}*/

footer {
    padding-top: 50px;
    margin-top: 100px;
    position: relative;
    font-size: 19px;
    font-family: "B Koodak";
    border-top: solid 3px #163F6B;
    /*border-radius: 45%/100px 100px 0 0;*/
    /*border-color: #163F6B transparent transparent transparent;*/
}

footer .description-box {
    padding: 0 30px 0 15px;
}

footer .description-box > div {
    margin-bottom: 10px;
}

footer .description-box .social-links {
    width: 150px;
    font-size: 45px;
    margin: 40px 60px 0 0;
    padding-right: 15px;
    border-radius: 25px;
}

footer .description-box .social-links li {
    margin-left: 20px;
}

footer .description-box .social-links .fa {
    color: black;
    padding-top: 15px;
}

footer .email-box, footer .email-box .row {
    margin-bottom: 15px !important;
}

footer .email-box, footer .email-box .row div {
    padding: 0;
}

footer .email-box .row .input-box {
    padding-top: 15px;
}

footer .email-box .row div .btn {
    font-size: 19px;
    border-radius: 30px;
    background-color: #163F6B !important;
}

footer .logo-box {
    padding: 30px 0 0 15px;
}

footer .logo-box img:not(:first-child) {
    margin-right: 20px;
}

footer .hoghog {
    font-size: 25px;
    font-weight: bold;
    color: #2C3E50;
}

.signup-page, .login-page {
    padding-top: 100px;
}

.signup-page, .login-page, .activation-page, .forgotpassword-page {
    position: relative;
    font-family: "B Yekan";
}

.login-page {
    padding-bottom: 100px;
}

.activation-page, .forgotpassword-page {
    padding: 250px 0 150px 0;
}

.signup-page .signup-box, .login-page .login-box, .activation-page .activation-box, .forgotpassword-page .forgotpassword-box {
    padding: 45px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12) !important;
}

.signup-page form input, .login-page form input, .activation-page form input, .forgotpassword-page form input {
    border: none;
    border-radius: 0;
    height: 60px;
    color: #636363 !important;
    margin-bottom: 15px;
    font-size: 20px !important;
    /*box-shadow: 0 2px 1px -1px #cbcbcb !important;*/
    box-shadow: 0 1px 2px 0 rgba(57, 57, 57, 0.16), 0 1px 3px 0 rgba(56, 56, 56, 0.12) !important;
}

/*.signup-page form input::placeholder,
.login-page form input::placeholder,
.activation-page form input::placeholder,
.forgotpassword-page form input::placeholder,
.order-page .address-box .register-address form input::placeholder,
.order-page .address-box .register-address form textarea::placeholder */
form input::placeholder, form textarea::placeholder
{
    color: #b5b5b5;
    opacity: 1;
}

.signup-page form .btn-register, .login-page form .btn-login, .activation-page form .btn-confirm, .forgotpassword-page form .btn-newpassword {
    margin: 20px 0;
    padding: 8px 40px;
    background-color: #06A68B;
}

.signup-page form .btn-register, .login-page form .btn-login, .activation-page form .btn-confirm, .forgotpassword-page form .btn-newpassword, .gmail-box a {
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    color: white !important;
}

.gmail-box a {
    padding: 8px 0;
}

.signup-box .login-link a, .login-box .signup-link a, .login-box .forgotpassword-link a {
    color: #1D79D5;
    border-bottom: 1px solid #1D79D5;
}

form div.has-error {
    color: #8f232d;
    padding-right: 10px;
    margin: -11px 0 16px 0;
}

.login-box .signup-link, .login-box .forgotpassword-link {
    padding: 0;
}

.gmail-box {
    margin-top: 2px;
    background-color: white;
    padding: 15px 45px 15px 0;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12) !important;
}

.gmail-box a {
    width: 70%;
    background-color: #DE5246;
}

.gmail-box .gmail-logo {
    width: 60px;
    margin-right: 10px;
}

.semi-oval-left, .semi-oval-right {
    width: 25%;
    height: 550px;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
}

.semi-oval-left {
    left: 0;
    top: 0;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #c1d7eb;
}

.semi-oval-right {
    right: 0;
    top: 170px;
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #cce5f9;
}

.home-page, .product-page {
    font-family: "B Yekan";
}

.special-product-box {
    width: 100%;
    height: 720px;
    margin: 20px 0 300px 0;
    padding-top: 20px;
    position: relative;
    background-color: #f8f9fb;
    /*border-radius: 0 0 50% 50%/ 0 0 100% 100%;*/
    border-radius: 100% / 80%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 1px 1px 0 rgba(57, 57, 57, 0.16), 0 1px 1px 0 rgba(56, 56, 56, 0.12) !important;
}

.product-item {
    /*cursor: pointer;*/
    transition: all ease-in-out 200ms;
    /*background-color: whitesmoke;*/
}

.product-item:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.product-item a {
    color: black;
}

.product-item .image-box {
    width: 100%;
    /*height: 182px;*/
    padding: 15px 35px 15px 35px;
    transition: all ease-in-out 250ms;
}

.product-item .image-box img {
    width: 100%;
}

.product-item .detail {
    height: 80px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.product-item .detail .title {
    font-size: 17px;
}

.product-item .detail .description {
    height: 20px;
    color: #575757;
    font-size: 14px;
}

.product-item .detail .weight, .product-item .detail .unit {
    font-size: 16px;
}

.product-item .footer {
    height: 45px;
    padding-top: 9px;
}

.product-item .footer .price-box {
    float: right;
    /*margin-top: -10px;*/
    padding-right: 15px;
    display: inline-block;
}

.product-item .footer .btn-add-shopping span {
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin-top: 8px;
    padding: 5px 20px 0 8px;
    background-color: #06A68B;
    border-top-right-radius: 25px
}

.other-products {
    margin: 60px 0 70px 0;
    font-size: 25px;
    border-radius: 30px;
    background-color: #F1C40F;
}

.order-workflow {
    /*width: 100%;*/
    padding: 0 20%;
    position: absolute;
    bottom: -150px;
}

.send-product,
.register-order {
    padding: 10px 3.5% 0 3.5%;
    font-size: 14px;
}

.prepare-product {
    font-size: 15px;
    padding: 0 1% 0 1%;
}

.send-product .content-box,
.prepare-product .content-box,
.register-order .content-box {
    border-radius: 30px;
    border: 1px solid #eeeeee;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12) !important;
}

.send-product .content-box .image-box,
.prepare-product .content-box .image-box,
.register-order .content-box .image-box {
    padding: 20px;
}

.prepare-product .content-box .image-box {
    padding: 20px 40px 20px 40px;
}

.send-product .content-box img,
.prepare-product .content-box img,
.register-order .content-box img {
    width: 100%;
}

.send-product .content-box .title {
    margin: 40px 0 20px 0;
}

.prepare-product .content-box .title {
    margin: 10px 0 20px 0;
}

.register-order .content-box .title {
    margin: 30px 0 20px 0;
}

.weblog-box {
    margin: 0 0 150px 0 !important;
}

.weblog-box .image-box img {
    width: 100%;
    margin-top: -80px;
}

.cooking-box .image-box img {
    width: 100%;
}

.weblog-box .weblog-header, .weblog-box .weblog-title, .cooking-box .cooking-header, .cooking-box .cooking-title {
    color: #2C3E50;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weblog-box .weblog-title, .cooking-box .cooking-title {
    margin: 0;
    font-size: 17px;
}

.weblog-box .post-item, .cooking-box .post-item, .product-detail-page .post-item {
    margin-bottom: 20px !important;
}

.weblog-box .post-item .benefit, .product-detail-page .post-item .benefit {
    margin-bottom: 5px;
}

.weblog-box .tag-group, .cooking-box .tag-group, .product-detail-page .tag-group {
    margin: 0 !important;
}

.weblog-box .tag-group .tag-item, .cooking-box .tag-group .tag-item, .product-detail-page .tag-group .tag-item {
    margin-left: 15px;
    padding: 2px 12px;
    border-radius: 15px;
    background-color: #F1C40F;
}

.product-page .product-box .item {
    padding: 0 25px;
}

.product-page .product-box .product-item {
    margin-bottom: 70px;
}

.pagination-box li {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px !important;
}

.pagination-box li.other {
    width: 20px;
}

.pagination-box li a {
    width: 40px;
    padding: 5px 0;
    font-size: 17px;
    font-weight: bold;
    color: #06A68B;
    border: 1px solid #06A68B;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 #06A68B, 0 1px 1px 0 #06A68B !important;
    transition: background-color ease-in-out 200ms;
}

.pagination-box li a.active {
    color: white;
    background-color: #06A68B;
}

.pagination-box li:first-child a, .pagination-box li:last-child a {
    padding: 8px 0 1px 0;
}

.pagination-box li button {
    width: 20px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #06A68B;
    border: none !important;
    box-shadow: none !important;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled > a {
    color: currentColor;
    pointer-events: none;
    text-decoration: none;
}


.panel {
    font-weight: bold;
    font-family: "B Nazanin";
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12) !important;
}

.panel .panel-header {
    color: #F4F5F7;
    font-size: 16px;
    padding: 6px 15px;
    background-color: #163F6B;
}

.panel .panel-content {
    color: #2C3E50;
    font-size: 15px;
    padding: 30px 15px;
}

.panel .panel-footer {
    color: #2C3E50;
    font-size: 14px;
    padding: 0 15px 15px 0;
}

.carousel-box {
    width: 100%;
    margin-top: 5px;
}

.carousel-box .carousel img {
    width: 100%;
    height: 330px;
}

.carousel-box .carousel-control-prev, .carousel-box .carousel-control-next {
    top: 40%;
    left: 20px;
    height: 40px;
    width: 40px;
    padding: 0 15px;
    font-size: 40px;
    color: #272727;
    border-radius: 50%;
    background-color: cornsilk;
}

.carousel-box .carousel-control-prev:hover, .carousel-box .carousel-control-next:hover {
    background-color: white;
}

.carousel-box .carousel-control-next {
    right: 20px;
}

.product-detail-page .other-detail {
    padding: 0 50px;
}

.product-detail-page .other-detail .tab-group {
    margin-bottom: 40px;
    border-bottom: 1px solid grey;
}

.product-detail-page .other-detail .tab-group button {
    width: 160px;
    padding: 10px 0;
    margin: 0 0 10px 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: "B Nazanin";
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12) !important;
}

.product-detail-page .other-detail .tab-group button.active {
    background-color: #ECF0F1;
}

.product-detail-page .other-detail .product-comment-box {
    font-family: "B Yekan";
}

.product-detail-page .other-detail .product-comment-box .register-opinion {
    padding: 0 5%;
    margin-top: 80px;
}

.product-detail-page .other-detail .product-comment-box input,
.product-detail-page .other-detail .product-comment-box textarea {
    color: black;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid grey;
    font-size: 20px !important;
}

.product-detail-page .other-detail .product-comment-box input {
    margin-bottom: 30px;
}

.product-detail-page .other-detail .product-comment-box textarea {
    height: 300px;
}

.product-detail-page .other-detail .product-comment-box .btn-register {
    width: 140px;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    margin: 30px 0 0 20px;
    border-radius: 25px;
    background-color: #F1C40F;
}

.product-detail-page .other-detail .product-comment-box .opinion-box {
    font-size: 22px;
    position: relative;
    border-radius: 25px;
    margin-top: 20px;
    padding: 30px 50px 30px 0;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12);
}

.product-detail-page .other-detail .product-comment-box .opinion-box .circle-shappe {
    right: -20px;
    top: 40%;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: #06A68B;
}

.product-detail-page .other-detail .product-comment-box .opinion-box .user {
    margin-bottom: 15px;
}

.order-page {
    padding-top: 80px;
    font-family: "B Yekan";
}

.order-page .unsuccess-payment {
    color: #2C3E50;
    font-size: 22px;
    padding: 20px;
    margin-bottom: 70px;
    position: relative;
    border-radius: 15px;
}

.order-page .unsuccess-payment span {
    left: 20px;
    top: 30%;
    color: #d6398c;
    font-size: 17px;
    position: absolute;
}

.order-page .custom-switch {
    margin-bottom: 30px;
}

.order-page .without-membership-box {
    padding: 30px;
    font-size: 21px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12);
}

.order-page .without-membership-box input {
    height: 50px;
    border-radius: 15px;
    border: 1px solid grey;
}

.order-page .without-membership-box .code-box {
    margin-top: 18px !important;
}

.order-page .without-membership-box .btn-confirm {
    width: 190px;
    margin-top: 6px;
    padding: 7px 0;
    font-size: 17px;
    background-color: #F1C40F;
}

.order-page .order-item, .order-page .order-price-box, .order-page .address-box  {
    font-size: 22px;
    padding: 20px 0;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12);
}

.order-page .order-item .image-box {
    padding-right: 35px;
}
.order-page .order-item .title-box .description {
    font-size: 20px;
}

.order-page .order-item .image-box img {
    width: 100%;
}

.order-page .order-item .count-box li {
    height: 30px;
    margin: 0;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
}

.order-page .order-item .count-box li.count {
    min-width: 40px;
    font-size: 22px;
    font-weight: bold;
}

.order-page .order-item .count-box li .btn {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    box-shadow: none;
}

.order-page .order-item .count-box li:nth-child(1),
.order-page .order-item .count-box li:nth-child(3) {
    width: 35px;
    background-color: #F1C40F;
}

.order-page .order-item .count-box li:nth-child(1){
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.order-page .order-item .count-box li:nth-child(3){
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.order-page .order-item .price-box .has-discount {
    font-size: 17px;
    position: relative;
}

.order-page .order-item .delete-box {
    font-size: 33px;
    color: #b31268;
    cursor: pointer;
}

.order-page .order-item .packet-type {
    margin-top: 10px !important;
    padding-right: 50px;
}

.order-page .order-item .packet-type .title,
.order-page .order-price-box .final-price .price,
.order-page .order-price-box .price-item {
    font-size: 19px;
}

.order-page .order-item .packet-type .packet-item {
    font-size: 18px;
}

.order-page .order-item .packet-type .packet-item span.price {
    margin-right: 15px;
}

.order-page .order-price-box .final-price .title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 12px;
}

.order-page .order-price-box .price-item .row {
    margin-bottom: 12px !important;
}

.order-page .address-box .select {
    position: relative;
}

.order-page .address-box .select-address .empty-address .image-box img {
    width: 50%;
    margin: 50px 0 20px 0;
}

.order-page .address-box .select-address .empty-address .lable {
    color: #a0a0a0;
    font-size: 18px;
}

.order-page .address-box .select-address .btn-box {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.order-page .address-box .register-address .title, .order-page .address-box .register-address .row {
    margin-bottom: 15px !important;
}

.order-page .address-box .register-address form .form-control {
    font-size: 18px;
    border-radius: 13px;
    border: 1px solid #9d9d9d;
}

.order-page .address-box .register-address form textarea {
    height: 100px;
}

.order-page .address-box .register-address form button, .order-page .address-box .select-address button {
    width: 130px;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 13px;
}

.modal-backdrop {
    background-color: transparent;
}

.order-page .address-box .select-address .modal-content {
    /*height: 500px;*/
    padding: 50px 30px 15px 30px;
    box-shadow: none !important;
    border-radius: 25px !important;
    border: 1px solid #06A68B !important;
}

.order-page .address-box .select-address .address-item {
    height: 130px;
    font-size: 22px;
    padding: 20px 0;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 0 1px 3px 0 rgba(57, 57, 57, 0.16), 0 2px 3px 0 rgba(56, 56, 56, 0.12);
}



@media (min-width: 1200px) {
    .nav-center {
        /*background-color: #40c11e;*/
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .custom-container {
        padding: 0 28%;
    }

    .container2 {
        padding: 0 10%;
    }

    footer .email-box {
        padding-right: 15px;
    }

    footer .logo-box {
        padding: 0 0 30px 0;
        text-align: center !important;
    }

    .signup-page, .login-page {
        padding-top: 50px;
    }

    .login-page {
        padding-bottom: 50px;
    }

    .activation-page, .forgotpassword-page {
        padding: 150px 0 150px 0;
    }

    .semi-oval-left, .semi-oval-right {
        width: 24%;
        height: 460px;
    }

    .semi-oval-right {
        top: 130px;
    }

    .special-product-box {
        height: 680px;
        margin: 20px 0 300px 0;
        padding: 15px 0;
    }

    .order-workflow {
        padding: 0 18%;
        bottom: -130px;
    }

    .weblog-box .image-box, .cooking-box .image-box {
        padding: 0 15%;
    }

    .weblog-box .weblog-title, .cooking-box .cooking-title {
        margin-bottom: 60px;
    }

    .product-page .product-box .item {
        padding: 0 15px !important;
    }

    .carousel-box .carousel img {
        height: 260px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .custom-container {
        padding: 0 28%;
    }

    .container2 {
        padding: 0 10%;
    }

    footer .email-box {
        padding-right: 15px;
    }

    footer .logo-box {
        padding: 0 0 30px 0;
        text-align: center !important;
    }

    .signup-page, .login-page {
        padding-top: 50px;
    }

    .login-page {
        padding-bottom: 50px;
    }

    .activation-page, .forgotpassword-page {
        padding: 150px 0 150px 0;
    }

    .semi-oval-left, .semi-oval-right {
        width: 24%;
        height: 400px;
    }

    .semi-oval-right {
        top: 130px;
    }

    .special-product-box {
        height: 560px;
        margin: 20px 0 300px 0;
        padding: 15px 0;
    }

    .special-product-box .item {
        padding: 15px !important;
    }

    .order-workflow {
        padding: 0 15%;
        bottom: -130px;
    }

    .weblog-box .image-box, .cooking-box .image-box {
        padding: 0 10%;
    }

    .weblog-box .weblog-title, .cooking-box .cooking-title {
        margin-bottom: 60px;
    }

    .product-page .product-box .item {
        padding: 0 15px !important;
    }

    .carousel-box .carousel img {
        height: 205px;
    }
}

@media (max-width: 767px) {
    .custom-container {
        padding: 0 25%;
    }

    .container2 {
        padding: 0 10%;
    }

    .nav-right img {
        width: 90px;
    }

    .nav-left .shopping-box {
        padding-top: 20px;
    }

    .nav-left .shopping-box .shopping-icon {
        padding-left: 30px;
    }

    .nav-left .shopping-box .shopping-icon img {
        width: 32px;
    }

    .nav-left .shopping-box .shopping-icon .count {
        width: 21px;
        height: 21px;
        left: 38px;
        top: 22px;
    }

    .nav-left .shopping-box .shopping-cart {
        top: 74px;
        left: 10px;
        width: 300px;
        padding: 6px;
        font-size: 14px;
        border-radius: 8px;
    }

    .nav-left .shopping-box .shopping-cart:before {
        top: -12px;
        left: 30px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 12px solid #06A68B;
    }

    .nav-left .shopping-box .shopping-cart .cart-item {
        width: 100%;
        margin: 8px 0;
        padding-bottom: 0;
    }

    .nav-left .shopping-box .shopping-cart .cart-item .image-box img {
        width: 70px;
    }

    .nav-left .shopping-box .shopping-cart .cart-item .delete-box {
        margin-bottom: 12px;
    }

    .nav-left .shopping-box .shopping-cart .cart-item .delete-box span {
        left: 15px;
        top: -35px;
        font-size: 28px;
    }

    .nav-left .shopping-box .shopping-cart .cart-item .title {
        font-size: 16px;
    }

    .nav-left .shopping-box .shopping-cart .cart-item .description {
        font-size: 13px;
    }

    .nav-left .shopping-box .shopping-cart .cart-item .has-discount {
        font-size: 12px;
    }

    .nav-left .shopping-box .shopping-cart .cart-item .price .line, .product-item .price-box .line {
        right: 18px;
        top: 10px;
        width: 80px;
    }

    .nav-left .shopping-box .shopping-cart .footer {
        margin: 20px 0 8px 0 !important;
    }

    .nav-left .shopping-box .shopping-cart .footer .total-price {
        font-size: 18px;
    }

    .nav-left .shopping-box .shopping-cart .footer .complete-order .btn {
        padding: 7px;
        font-size: 15px;
    }

    .nav-left .search-box {
        top: 24px;
        left: 90px;
    }

    .nav-left .search-box .fa-search {
        font-size: 25px;
    }

    .nav-left .search-box input {
        left: 25px;
        width: 160px;
        height: 26px;
        border-radius: 3px;
    }

    .nav-center {
        display: none;
    }

    .collapse-menue img.shopline-logo {
        width: 85px;
    }

    .collapse-menue ul li a {
        font-size: 16px;
    }

    footer {
        padding-top: 50px;
        margin-top: 100px;
        position: relative;
        font-size: 19px;
    }

    footer .description-box .social-links {
        font-size: 40px;
        border-radius: 25px;
    }

    footer .email-box {
        padding-right: 15px;
    }

    footer .email-box .row .input-box {
        padding-top: 15px;
    }

    footer .email-box .row div .btn {
        font-size: 17px;
        padding: 10px 20px;
        border-radius: 25px;
    }

    footer .logo-box {
        padding: 0 0 30px 0;
        text-align: center !important;
    }

    footer .hoghog {
        font-size: 20px;
    }

    .signup-page, .login-page {
        padding-top: 50px;
    }

    .login-page {
        padding-bottom: 50px;
    }

    .activation-page, .forgotpassword-page {
        padding: 100px 0 100px 0;
    }

    .signup-page .signup-box, .login-page .login-box, .activation-page .activation-box, .forgotpassword-page .forgotpassword-box {
        padding: 15px;
        padding-bottom: 5px;
    }

    .signup-page form input, .login-page form input, .activation-page form input, .forgotpassword-page form input {
        height: 50px;
        margin-bottom: 12px;
        font-size: 16px !important;
    }

    .signup-page form .btn-register, .login-page form .btn-login, .activation-page form .btn-confirm, .forgotpassword-page form .btn-newpassword {
        margin: 10px 0;
        padding: 5px 20px;
    }

    .signup-page form .btn-register, .login-page form .btn-login, .activation-page form .btn-confirm, .forgotpassword-page form .btn-newpassword, .gmail-box a {
        font-size: 17px;
    }

    .signup-box .login-link a, .login-box .signup-link a, .login-box .forgotpassword-link a {
        font-size: 13px;
    }

    form div.has-error {
        padding-right: 7px;
        margin: -8px 0 12px 0;
    }

    .gmail-box {
        padding: 0;
    }

    .gmail-box a {
        width: 65%;
    }

    .gmail-box .gmail-logo {
        width: 50px;
        margin-right: 5px;
    }

    .semi-oval-left, .semi-oval-right {
        width: 22%;
        height: 270px;
    }

    .semi-oval-right {
        top: 130px;
    }

    .special-product-box {
        height: 470px;
        margin: 20px 0 300px 0;
        padding: 0 2%;
    }

    .product-item .detail {
        height: 75px;
        margin-bottom: 5px;
    }

    .product-item .detail .title {
        font-size: 16px;
    }

    .product-item .detail .description {
        font-size: 13px;
    }

    .product-item .detail .weight, .product-item .detail .unit {
        font-size: 15px;
    }

    .other-products {
        font-size: 19px;
        padding: 7px 20px;
        margin: 20px 0 70px 0;
        border-radius: 25px;
    }

    .order-workflow {
        padding: 0 2%;
        bottom: -130px;
    }

    .send-product,
    .register-order {
        padding: 10px 2% 0 2%;
        font-size: 12px;
    }

    .prepare-product {
        font-size: 13px;
        padding: 0 1% 0 1%;
    }

    .send-product .content-box,
    .prepare-product .content-box,
    .register-order .content-box {
        border-radius: 20px;
    }

    .send-product .content-box .title {
        margin: 0 0 5px 0;
    }

    .prepare-product .content-box .title {
        margin: 10px 0 5px 0;
    }

    .register-order .content-box .title {
        margin: 10px 0 5px 0;
    }

    .weblog-box .weblog-header, .weblog-box .weblog-title, .cooking-box .cooking-header, .cooking-box .cooking-title {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .weblog-box .weblog-title, .cooking-box .cooking-title {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .product-page .product-box .item {
        padding: 0 5%;
    }

    .product-page .product-box .product-item {
        margin-bottom: 20px;
    }

    .pagination-box li {
        width: 32px;
        height: 32px;
        margin-right: 7px !important;
    }

    .pagination-box li.other {
        width: 15px;
    }

    .pagination-box li a {
        width: 32px;
        padding: 3px 0;
        font-size: 15px;
    }

    .pagination-box li:first-child a, .pagination-box li:last-child a {
        padding: 6px 0 1px 0;
    }

    .pagination-box li button {
        width: 20px;
        font-size: 18px;
    }

    .carousel-box .carousel img {
        height: 150px;
    }

    .carousel-box .carousel-control-prev, .carousel-box .carousel-control-next {
        height: 30px;
        width: 30px;
        padding: 5px 15px 0 10px;
        font-size: 30px;
    }

    .carousel-box .carousel-control-next {
        padding: 5px 10px 0 15px;
    }

    .nav-center {
        display: none;
    }
}

@media (max-width: 575px) {
    .custom-container {
        padding: 0 15%;
    }

    .container2 {
        padding: 0 10%;
    }

    .collapse-menue img.shopline-logo {
        width: 85px;
    }

    .signup-page, .login-page {
        padding-top: 50px;
    }

    .login-page {
        padding-bottom: 50px;
    }

    .activation-page, .forgotpassword-page {
        padding: 100px 0 100px 0;
    }

    .signup-page .signup-box, .login-page .login-box, .activation-page .activation-box, .forgotpassword-page .forgotpassword-box {
        padding: 15px;
        padding-bottom: 5px;
    }

    .gmail-box a {
        width: 65%;
    }

    .gmail-box .gmail-logo {
        width: 50px;
        margin-right: 5px;
    }

    .semi-oval-left, .semi-oval-right {
        width: 28%;
        height: 250px;
    }

    .semi-oval-right {
        top: 100px;
    }

    .special-product-box {
        height: 500px;
        margin: 20px 0 300px 0;
        padding: 0 10%;
    }

    .order-workflow {
        padding: 0 2%;
        bottom: -130px;
    }

    .send-product,
    .register-order {
        padding: 10px 2% 0 2%;
        font-size: 12px;
    }

    .prepare-product {
        font-size: 13px;
        padding: 0 1% 0 1%;
    }

    .product-page .product-box .item {
        padding: 0 20%;
    }

    .carousel-box .carousel img {
        height: 110px;
    }
}


@font-face {
    font-family: 'B Koodak';
    src: url('../font/BKoodakBold.eot?#') format('eot'),
    url('../font/BKoodakBold.woff') format('woff'),
    url('../font/BKoodakBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'B Nazanin';
    src: url('../font/BNazanin.eot?#') format('eot'),
    url('../font/BNazanin.woff') format('woff'),
    url('../font/BNazanin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'B Yekan';
    src: url('../font/BYekan.eot?#') format('eot'),
    url('../font/BYekan.woff') format('woff'),
    url('../font/BYekan.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
