<template>
    <div class="cart-item z-depth-1 text-right">
        <ul class="image-box list-unstyled">
            <li class="list-inline-item"><img class="animated infinite pulse" :src="productImageAddress + orderItem.product.imagelink" alt=""></li>
            <li class="list-inline-item">
                <div class="title" >{{orderItem.product.title}}</div>
                <div class="description">{{orderItem.product.description}}</div>
            </li>
        </ul>
        <div class="delete-box text-left"><span v-on:click="deleteProductFromOrderAction(orderItem.product)"><i class="fa fa-trash" aria-hidden="true"></i></span></div>
        <div class="row">
            <div class="col-6 text-center">
                <div :class="orderItem.product.discount ? 'price has-discount' : 'price'">
                    {{orderItem.product.price | custom-currency}}
                    <span class="line" v-if="orderItem.product.discount"></span>
                </div>
                <div class="discount" v-if="orderItem.product.discount">{{orderItem.product.discount | custom-currency}}</div>
            </div>
            <div class="col-6">
                <div><span class="weight">{{orderItem.product.weight}}</span><span class="unit">{{orderItem.product.unit}}</span></div>
                <div><span>تعداد</span><span class="quentity">{{orderItem.quentity}}</span></div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: "CartItem",
        props: ["orderItem"],
        computed: {
            ...mapGetters(["productImageAddress"]),
        },
        methods: {
            ...mapActions(["deleteProductFromOrderAction"]),
        },
    }
</script>

<style scoped>

</style>