<template>
    <div class="shopping-box">
        <div class="shopping-icon" >
            <img :src="headerImageAddress + 'shopping-icon.png'" v-on:click.stop="ChangeshowShoppingCart()">
            <span class="count text-center" v-if="itemCount > 0" v-on:click.stop="ChangeshowShoppingCart()">{{itemCount}}</span>
        </div>
        <transition enter-active-class="animated zoomIn" leave-active-class="animated zoomOut">
            <div class="shopping-cart" v-if="showShoppingCart && isExistCart">
                <cart-item :orderItem="order" v-for="order in orders" :key="order.id"></cart-item>
                <div class="footer row">
                    <div class="total-price text-right col-6">{{totalPrice | custom-currency}}</div>
<!--                    <div class="complete-order text-left col-6"><a class="btn btn-yellow" href="">نهایی سازی سفارش</a></div>-->
                    <div class="complete-order text-left col-6">
                        <router-link  to="/Order">
                            <button v-on:click="ChangeshowShoppingCart()" class="btn btn-yellow">نهایی سازی سفارش</button>
                        </router-link>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import CartItem from "./CartItem"

    export default {
        name: "ShoppingCart",
        props: ["showShoppingCart", "headerImageAddress"],
        components: {CartItem},
        computed: {
            ...mapGetters(["orders", "itemCount", "totalPrice", "isExistCart"])
        },
        methods: {
            ...mapActions(["getCartOrdersAction"]),
            ChangeshowShoppingCart(){
                this.$emit("changeShowShopping")
            },
        },
        created() {
            this.getCartOrdersAction()
        }
    }
</script>

<style scoped>

</style>