<template>
    <div class="pagination-box text-center" v-if="pageCount > 1">
        <ul class="list-unstyled">
            <li class="list-inline-item" :class="{'isDisabled': currentPage < 2}"><router-link class="btn" :to="{ name: Product, query: { pageId: currentPage - 1 } }" ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></router-link></li>
            <template v-if="pageCount <= 8">
                <li class="list-inline-item"><router-link v-for="n in pageCount" :class="{'btn': true, 'active': currentPage === n}" :to="{ name: Product, query: { pageId: n } }" :key="n">{{n}}</router-link></li>
            </template>
            <template v-else>
                <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === 1}" :to="{ name: Product, query: { pageId: 1 } }">1</router-link></li>
                <!--                        <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === 2}" :to="{ name: Product, query: { pageId: 2 } }">2</router-link></li>-->
                <template v-if="currentPage <= (6)">
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === 2}" :to="{ name: Product, query: { pageId: 2 } }">2</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === 3}" :to="{ name: Product, query: { pageId: 3 } }">3</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === 4}" :to="{ name: Product, query: { pageId: 4 } }">4</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === 5}" :to="{ name: Product, query: { pageId: 5 } }">5</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === 6}" :to="{ name: Product, query: { pageId: 6 } }">6</router-link></li>
                    <li class="other list-inline-item"><button class="btn">...</button></li>
                </template>
                <template v-else-if="pageCount - currentPage < (6)">
                    <li class="other list-inline-item"><button class="btn">...</button></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === pageCount - 5}" :to="{ name: Product, query: { pageId: pageCount - 5 } }">{{pageCount - 5}}</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === pageCount - 4}" :to="{ name: Product, query: { pageId: pageCount - 4 } }">{{pageCount - 4}}</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === pageCount - 3}" :to="{ name: Product, query: { pageId: pageCount - 3 } }">{{pageCount - 3}}</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === pageCount - 2}" :to="{ name: Product, query: { pageId: pageCount - 2 } }">{{pageCount - 2}}</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === pageCount - 1}" :to="{ name: Product, query: { pageId: pageCount - 1 } }">{{pageCount - 1}}</router-link></li>
                </template>
                <template v-else>
                    <li class="other list-inline-item"><button class="btn">...</button></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true}" :to="{ name: Product, query: { pageId: currentPage - 2} }">{{currentPage - 2}}</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true}" :to="{ name: Product, query: { pageId: currentPage - 1 } }">{{currentPage - 1}}</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true, 'active': true}" :to="{ name: Product, query: { pageId: currentPage} }">{{currentPage}}</router-link></li>
                    <li class="list-inline-item"><router-link :class="{'btn': true}" :to="{ name: Product, query: { pageId: currentPage + 1 } }">{{currentPage + 1}}</router-link></li>
                    <li class="other list-inline-item"><button class="btn">...</button></li>
                </template>
                <!--                        <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === pageCount - 1}" :to="{ name: Product, query: { pageId: pageCount - 1 } }">{{pageCount - 1}}</router-link></li>-->
                <li class="list-inline-item"><router-link :class="{'btn': true, 'active': currentPage === pageCount}" :to="{ name: Product, query: { pageId: pageCount } }">{{pageCount}}</router-link></li>
            </template>
            <li class="list-inline-item" :class="{'isDisabled': currentPage >= pageCount}">
                <router-link class="btn next" :to="{ name: Product, query: { pageId: currentPage + 1 } }"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Pagination",
        props: {Product: String, pageCount: Number, currentPage: Number}
    }
</script>

<style scoped>

</style>