<template>
    <div class="product-comment-box container">
        <register-opinion></register-opinion>
        <opinion-item v-for="i in 10" :key="i"></opinion-item>
    </div>
</template>

<script>
    import RegisterOpinion from "../opinion/RegisterOpinion"
    import OpinionItem from "../opinion/OpinionItem"
    export default {
        name: "ProductComment",
        components: { RegisterOpinion, OpinionItem }
    }
</script>

<style scoped>

</style>