<template>
    <div class="row">
        <div class="post-item col-xl-4 col-lg-6 col-md-6 col-12" v-for="post in cookingPosts" :key="post.id">
            <panle-item>
                <div slot="header">{{post.title}}</div>
                <div slot="content">
                    <div class="benefit" >{{post.description}}</div>
                </div>
                <div slot="footer">
                    <ul class="tag-group list-unstyled">
                        <li class="tag-item list-inline-item rtl" v-for="tag in post.tags" :key="tag.id">#{{tag.title}}</li>
                    </ul>
                </div>
            </panle-item>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import PanleItem from "../shared/PanleItem"
    export default {
        name: "ProductContent",
        components: {PanleItem},
        computed: {
            ...mapGetters(["cookingPosts"])
        },
        methods: {
            ...mapActions(["getCookingPostsAction"]),
        },
        created() {
            this.getCookingPostsAction();
        },
    }
</script>

<style scoped>

</style>