<template>
    <div class="product-item tile">
        <div class="image-box">
            <router-link :to="{name: 'ProductDetail'}"><img class="product-item-image" :src="productImageAddress + product.imagelink" alt="product-image"></router-link>
        </div>
        <div class="detail text-center">
            <div class="title"><router-link :to="{name: 'ProductDetail'}">{{product.title}}</router-link></div>
            <div class="description">{{product.description}}</div>
            <div class="weight-box"><span class="weight">{{product.weight}}</span><span class="unit">{{product.unit}}</span></div>
        </div>
        <div class="footer">
            <div class="price-box" :style="product.discount ? 'margin-top: -10px;' : ''">
                <div :class="product.discount ? 'price has-discount' : 'price'">
                    {{product.price | custom-currency}}
                    <span class="line" v-if="product.discount"></span>
                </div>
                <div class="discount"><span v-if="product.discount">{{product.discount | custom-currency}}</span></div>
            </div>
            <div class="btn-add-shopping text-left">
                <span v-on:click="addProductToOrderAction(product)"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: "ProductItem",
        props: ["product"],
        data() {
            return {
                imgHeight: 154,
            }
        },
        computed: {
            ...mapGetters(["productImageAddress"]),
        },
        methods: {
            ...mapActions(["addProductToOrderAction"]),
            setheight(event) {
                let image = event.target;
                this.imgHeight = image.clientWidth * 0.89
            }
        },
        /*mounted() {
            window.onresize = () => {
                let image = document.getElementsByClassName('product-item-image');
                console.log(image[0].width * 0.89)
                this.imgHeight = image[0].width * 0.89
            }
        },*/
    }
</script>

<style scoped>

</style>