<template>
    <div class="special-product-box">
        <div class="container2">
            <multi-item-slider>
                <div class="item col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12" v-for="product in specialProducts" :key="product.id">
                    <product-item :product="product"></product-item>
                </div>
            </multi-item-slider>
        </div>
        <div class="other-products-box text-center">
            <router-link :to="{name: 'Product'}" v-if="showOtherProductLink"  class="other-products btn">سایر محصولات</router-link>
        </div>
        <div class="order-workflow">
            <div class="row">
                <div class="send-product text-center col-4">
                    <div class="content-box animated bounceInRight delay-2s" v-show="showWorkflow">
                        <div class="image-box"><img :src="'static/image/home/track.png'" alt=""></div>
                        <div class="title">تحویل در سریع ترین زمان ممکن</div>
                    </div>
                </div>
                <div class="prepare-product text-center col-4">
                    <div class="content-box animated bounceIn" v-show="showWorkflow">
                        <div class="image-box"><img :src="'static/image/home/flower.png'" alt=""></div>
                        <div class="title">مهیاسازی محصولات سالم و تازه</div>
                    </div>
                </div>
                <div class="register-order text-center col-4">
                    <div class="content-box animated bounceInLeft delay-1s" v-show="showWorkflow">
                        <div class="image-box"><img :src="'static/image/home/credit.png'" alt=""></div>
                        <div class="title">ثبت سفارش</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MultiItemSlider from "../../components/shared/slider/MultiItemSlider"
    import ProductItem from "../../components/product/ProductItem"
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "SpecialProduct",
        props: ["showOtherProductLink"],
        components: {
            MultiItemSlider,
            ProductItem,
        },
        data() {
            return {
                showWorkflow: false,
            }
        },
        computed: {
            ...mapGetters(["specialProducts"])
        },
        methods: {
            ...mapActions(["getSpecialProductsAction"]),
            handleScroll() {
                const container = document.querySelector('.other-products-box');
                console.log("y:" + container.getBoundingClientRect().top );
                if(container.getBoundingClientRect().top <= 150){
                    this.showWorkflow = true;
                }
                // console.log("top:" + container.clientY);
                /*if(window.scrollY > 700){
                    this.showWorkflow = true;
                }
                console.log(window.scrollY);*/
            }
        },
        created() {
            this.getSpecialProductsAction();
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>

<style scoped>

</style>