<template>
    <div class="tab-group">
        <button v-on:click="changeComponent('product-specification')" :class="{'btn btn-specification': true, 'active': activeComponent==='product-specification'}">مشخصات</button>
        <button v-on:click="changeComponent('product-comment')" :class="{'btn btn-comment': true, 'active': activeComponent==='product-comment'}">نظرات</button>
        <button v-on:click="changeComponent('product-content')" :class="{'btn btn-content': true, 'active': activeComponent==='product-content'}">مطالب</button>
    </div>
</template>

<script>
    export default {
        name: "TabItem",
        props: ["activeComponent"],
        methods: {
            changeComponent(component){
                this.$emit("changeComponent", component);
                // alert(component);
            }
        }
    }
</script>

<style scoped>

</style>