<template>
    <div class="home-page">
        <div class="container2">
            <slider/>
        </div>
        <special-product :showOtherProductLink="true"></special-product>
        <weblog-section></weblog-section>
        <cooking-section></cooking-section>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Slider from "../components/shared/slider/Slider"
    import SpecialProduct from "../components/product/SpecialProduct"
    import WeblogSection from "../components/home/WeblogSection"
    import CookingSection from "../components/home/CookingSection"

    export default {
        name: "Home",
        components: {
            Slider,
            SpecialProduct,
            WeblogSection,
            CookingSection
        },
    };
</script>
