<template>
    <div class="product-page">
        <div class="container2">
            <slider/>
        </div>
        <special-product :showOtherProductLink="false"></special-product>
        <div class="product-box">
            <div class="container2 row">
                <div class="item col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12" v-for="product in products.products" :key="product.id">
                    <product-item :product="product"></product-item>
                </div>
            </div>
            <pagination :routName="'Product'"
                        :pageCount="products.pageCount"
                        :currentPage="products.currentPage"
            ></pagination>
        </div>
    </div>
</template>

<script>
    import Slider from "../../components/shared/slider/Slider"
    import SpecialProduct from "../../components/product/SpecialProduct"
    import ProductItem from "../../components/product/ProductItem"
    import Pagination from "../../components/product/Pagination"
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "Product",
        components: {
            Slider,
            SpecialProduct,
            ProductItem, Pagination
        },
        computed: {
            ...mapGetters(["products", "productImageAddress"])
        },
        methods: {
            ...mapActions(["getProductsAction"])
            /*AddProductToOrder(productId) {
                const orderDetail = {
                    productId: productId,
                    count: 1
                };

                this.$store.dispatch("AddProductToOrder", orderDetail);
            }*/
        },
        watch: {
            $route() {
                this.getProductsAction({pageId: this.$route.query.pageId});
                /*this.$store.dispatch("GetProductsFromServer", {
                    pageId: this.$route.query.pageId
                });*/
            }
        },
        created() {
            this.getProductsAction({pageId: 1});
            /*this.$store.dispatch("GetProductsFromServer", {
                pageId: 1
            });*/
        },
    };
</script>
