<template>
    <div class="product-detail-page">
        <div class="container2">
            <slider/>
        </div>
        <div class="product-information row">
            <div class="image-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="main-image"></div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
        </div>
        <div class="other-detail">
            <tab-item :activeComponent="selectedComponent" v-on:changeComponent="changeSelectedComponent"></tab-item>
            <component :is="selectedComponent"></component>
        </div>
    </div>
</template>

<script>
    import Slider from "../../components/shared/slider/Slider"
    import TabItem from "../../components/product/TabItem"
    import ProductSpecification from "../../components/product/ProductSpecification"
    import ProductComment from "../../components/product/ProductComment"
    import ProductContent from "../../components/product/ProductContent"
    export default {
        name: "ProductDetail",
        data() {
            return {
                selectedComponent: "product-specification",
            }
        },
        components: {
            Slider,
            TabItem,
            "product-specification": ProductSpecification,
            "product-comment": ProductComment,
            "product-content": ProductContent,
        },
        methods: {
            changeSelectedComponent(event){
                this.selectedComponent = event;
            }
        }
    }
</script>

<style scoped>

</style>