<template>
    <div class="weblog-box row">
        <div class="text-center col-xl-5 col-12">
            <div class="image-box">
                <img :src="'static/image/home/blog.png'" alt="">
            </div>
            <div class="weblog-header">در وبلاگ شایلین</div>
            <div class="weblog-title">مطالب مختصر و مفید در مورد مواد غذایی</div>
        </div>
        <div class="col-xl-7 col-12">
            <div class="row">
                <div class="post-item col-xl-6 col-lg-6 col-md-6 col-12" v-for="post in weblogPosts" :key="post.id">
                    <panle-item>
                        <div slot="header">{{post.title}}</div>
                        <div slot="content">
                            <div class="benefit" v-for="benefit in  post.benefits" :key="benefit.id">{{benefit.title}}</div>
                        </div>
                        <div slot="footer">
                            <ul class="tag-group list-unstyled">
                                <li class="tag-item list-inline-item" v-for="tag in post.tags" :key="tag.id">#{{tag.title}}</li>
                            </ul>
                        </div>
                    </panle-item>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import PanleItem from "../shared/PanleItem";
    export default {
        name: "WeblogSection",
        components: {PanleItem},
        computed: {
            ...mapGetters(["weblogPosts"])
        },
        methods: {
            ...mapActions(["getWeblogPostsAction"]),
        },
        created() {
            this.getWeblogPostsAction();
        },
    }
</script>

<style scoped>

</style>