<template>
        <div class="resCarousel" data-items="1-2-3-3-4" data-interval="2000" data-slide="1" data-animator="lazy">
            <div class="resCarousel-inner">
                <slot></slot>
<!--                <div class="item col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12" v-for="product in specialProducts" :key="product.id">-->
<!--                    <product-item :product="product"></product-item>-->
<!--                </div>-->
            </div>
            <button class='btn leftRs animated fadeIn'><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></button>
            <button class='btn  rightRs animated fadeIn'><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
        </div>
</template>

<script>
    // import ProductItem from "../../product/ProductItem"
    // import {mapGetters, mapActions} from 'vuex'
    export default {
        name: "MultiItemSlider",
        /*components: {
            // ProductItem
        },
        computed: {
            ...mapGetters(["specialProducts"])
        },
        methods: {
            ...mapActions(["getSpecialProductsAction"])
        },
        created() {
            this.getSpecialProductsAction()
        }*/
    }
</script>

<style scoped>

</style>