<template>
    <div class="carousel-box">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div v-for="(banner, index) in banners" :class="(index===0) ? 'carousel-item active' : 'carousel-item' "
                     :key="banner.id">
                    <a href="">
                        <img :src="bannersImageAddress + banner.bannerImage" alt="" class="img-fluid">
                    </a>
                    <!-- <div class="carousel-caption">
                         <h3>Slight mask</h3>
                         <p>First text</p>
                     </div> -->
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev z-depth-1" href="#demo" data-slide="prev">
                <!--                    <span class="carousel-control-prev-icon"></span>-->
                <span class=""><i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </a>
            <a class="carousel-control-next z-depth-1" href="#demo" data-slide="next">
                <!--                    <span class="carousel-control-next-icon"></span>-->
                <span class=""><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </a>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "Slider",
        computed: {
            ...mapGetters(["banners", "bannersImageAddress"])
        },
        methods: {
            ...mapActions(["getBannersAction"]),
        },
        created() {
            this.getBannersAction();
        }
    }
</script>

<style scoped>

</style>