<template>
    <div class="order-page">
        <div class="container">
            <form v-on:submit.prevent>
                <div class="unsuccess-payment alert alert-danger">
                    <div>پرداخت شما موفقیت آمیز نبود اگر وجهی کم شده باشد بر گشت داده خواهد شد</div>
                    <span><i class="fa fa-close" aria-hidden="true"></i></span>
                </div>
                <without-membership></without-membership>
                <order-item :orderItem="order" v-for="order in orders" :key="order.id"></order-item>
                <order-address></order-address>
                <order-price></order-price>
            </form>
        </div>
    </div>
</template>

<script>
    import WithoutMembership from "../../components/order/WithoutMembership"
    import OrderItem from "../../components/order/OrderItem"
    import OrderPrice from "../../components/order/OrderPrice"
    import OrderAddress from "../../components/order/OrderAddress"
    import {mapGetters} from 'vuex'
    export default {
        name: "Order",
        components: {
            WithoutMembership,
            OrderItem,
            OrderPrice,
            OrderAddress,
        },
        computed: {
            ...mapGetters(["orders", "totalPrice"])
        },
        methods: {},
        created() {
        }
    }
</script>

<style scoped>

</style>