<template>
    <footer>
        <div class="row">
            <div class="description-box text-right col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div>با خرید از شایلین به سلامتی خود کمک کنید</div>
                <div> بعلاوه با این کار از کسب و کارهای محلی حمایت کنید</div>
                <div class="text-center">
                    <ul class="social-links list-unstyled z-depth-1">
                        <li class="list-inline-item"><router-link to=""><span><i class="fa fa-instagram" aria-hidden="true"></i></span></router-link></li>
                        <li class="list-inline-item"><router-link to=""><span><i class="fa fa-twitter" aria-hidden="true"></i></span></router-link></li>
                    </ul>
                </div>
            </div>
            <div class="email-box text-center col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="input-box col-6">
                        <input class="form-control" type="text" placeholder="آدرس ایمیل خود را وارد کنید" disabled>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary">اشتراک مطالب</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-box col-6">
                        <input class="form-control" type="text" placeholder="آدرس ایمیل خود را وارد کنید" disabled>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary">اشتراک خبرنامه</button>
                    </div>
                </div>
            </div>
            <div class="logo-box text-left col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <img :src="'static/image/footer/govahi.png'" alt="">
                <img :src="'static/image/footer/govahi.png'" alt="">
                <img :src="'static/image/footer/govahi.png'" alt="">
            </div>
        </div>
        <div class="hoghog text-center">تمامی حقوق محفوظ است</div>
    </footer>
</template>

<script>
    export default {
        name: "AppFooter"
    }
</script>

<style scoped>

</style>