<template>
    <div class="opinion-box">
        <div class="circle-shappe"></div>
        <div class="user">محمد رضا</div>
        <div class="comment">با تشکر از وب سایت خوبتون ممنون میشم مطالب بیشتری در این مورد قرار دهید</div>
    </div>
</template>

<script>
    export default {
        name: "OpinionItem"
    }
</script>

<style scoped>

</style>