<template>
    <div class="register-opinion">
        <form>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <input class="form-control text-center" placeholder="آدرس ایمیل">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <input class="form-control text-center" placeholder="نام">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea class="form-control" placeholder="متن نظر شما"></textarea>
                </div>
            </div>
            <div class="text-left"><button class="btn btn-register">ارسال</button></div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "RegisterOpinion"
    }
</script>

<style scoped>

</style>