<template>
    <div>
        <div class="semi-oval-left"></div>
        <div class="semi-oval-right"></div>
    </div>
</template>

<script>
    export default {
        name: "BackgroundShape",
    }
</script>

<style scoped>

</style>