<template>
  <div id="app">
    <app-header/>
    <transition enter-active-class="animated fadeIn">
      <router-view/>
    </transition>
    <app-footer/>
  </div>
</template>

<script>
  import AppHeader from "./components/shared/header/AppHeader";
  import AppFooter from "./components/shared/footer/AppFooter";

  export default {
    name: "App",
    data() {
      return {};
    },
    components: {
      AppHeader,
      AppFooter
    }
  };
</script>

<style>
  /*@import '../public/static/css/style.css';*/
</style>
