<template>
    <div class="activation-page">
        <background-shape></background-shape>
        <div class="custom-container animated zoomIn fast delay-1s">
            <div class="activation-box text-center ">
                <form action="">
                    <input v-model="activationCode" class="form-control text-center" type="text" name="activationCode" placeholder="کد فعالسازی">
                    <div v-if="checkValidation && $v.activationCode.$error" class="has-error text-right">
                        <span v-if="!$v.activationCode.required">کد فعالسازی الزامی می باشد</span>
                        <span v-else-if="!$v.activationCode.checkIsvalidCode">کد وارد شده معتبر نمی باشد</span>
                    </div>
                    <button class="btn btn-confirm" v-on:click.prevent="activateAccount()">تایید</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import BackgroundShape from "../../components/shared/background/BackgroundShape"
    import {required} from "vuelidate/lib/validators"
    import Vue from 'vue'
    export default {
        name: "Signup",
        components: {BackgroundShape},
        data() {
            return {
                checkValidation: false,
                activationCode: "",
            }
        },
        validations: {
            activationCode: {required, checkIsvalidCode: (value) => /^[0-9]{6}$/.test(value)},
        },
        methods: {
            activateAccount() {
                this.checkValidation = true;
                this.$v.$touch();
                if(this.$v.$invalid){
                    return;
                } else {
                    let data = {
                        otp_code: this.activationCode,
                        mobile: Vue.cookie.get('phoneNumber'),
                    };
                    this.$store.dispatch('activationAction', data);
                }
            }
        }
    }
</script>

<style scoped>

</style>