<template>
    <div class="forgotpassword-page">
        <background-shape></background-shape>
        <div class="custom-container animated zoomIn fast delay-1s">
            <div class="forgotpassword-box text-center ">
                <form action="">
                    <input v-model="phone" class="form-control text-center" type="text" name="phone" placeholder="شماره همراه">
                    <div v-if="checkValidation && $v.phone.$error" class="has-error text-right">
                        <span v-if="!$v.phone.required">شماره تلفن الزامی می باشد</span>
                        <span v-else-if="!$v.phone.checkIsPhoneNumber">شماره تلفن وارد شده معتبر نمی باشد</span>
                    </div>
                    <button class="btn btn-newpassword" v-on:click.prevent="forgotPassword()">ارسال رمز جدید</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import BackgroundShape from "../../components/shared/background/BackgroundShape"
    import {required} from "vuelidate/lib/validators"
    export default {
        name: "Signup",
        components: {BackgroundShape},
        data() {
            return {
                checkValidation: true,
                phone: "",
            }
        },
        validations: {
            phone: {required, checkIsPhoneNumber: (value) => /^[0][0-9]{10}$/.test(value)},
        },
        methods: {
            forgotPassword() {
                this.checkValidation = true;
                this.$v.$touch();
                if(this.$v.$invalid){
                    return;
                } else {
                    let data = {
                        mobile: this.phone,
                    };
                    this.$store.dispatch('forgotPasswordAction', data);
                }
            }
        }
    }
</script>

<style scoped>

</style>