<template>
    <div class="login-page">
        <background-shape></background-shape>
        <div class="custom-container animated zoomIn delay-1s">
            <div class="login-box text-center">
<!--                <button class="btn btn-primary" v-on:click="testLogin()">تست لاگین</button>-->
                <form>
                    <input v-model="username" class="form-control text-center" type="text" name="username" placeholder="شماره همراه یا نام کاربری">
                    <div v-if="checkValidation && $v.username.$error" class="has-error text-right">
                        <span v-if="!$v.username.required">نام کاربری الزامی می باشد</span>
                    </div>
                    <input v-model="password"  class="form-control text-center" type="password" name="password" placeholder="رمز عبور">
                    <div v-if="checkValidation && $v.password.$error" class="has-error text-right">
                        <span v-if="!$v.password.required">پسورد الزامی می باشد</span>
                    </div>
                    <div v-if="usernameOrPasswordIsWrong" class="has-error text-right">
                        <span>نام کاربری یا کلمه عبور معتبر نمی باشد</span>
                    </div>
                    <button class="btn btn-login" @click.prevent="loginUser()">ورود</button>
                </form>
                <div class="row">
                    <div class="forgotpassword-link text-right col-7"><router-link to="/forgotpassword" class="">فراموشی رمز عبور</router-link></div>
                    <div class="signup-link text-left col-5"><router-link to="/signup" class="">ثبت نام</router-link></div>
                </div>
            </div>
            <div class="gmail-box">
                <router-link to="" class="btn">با جیمیل وارد شوید</router-link>
                <img class="gmail-logo" :src="'static/image/signup/gmaillogo.png'" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    import BackgroundShape from "../../components/shared/background/BackgroundShape"
    import {required} from "vuelidate/lib/validators"
    import {mapGetters} from 'vuex'
    export default {
        name: "Login",
        components: {BackgroundShape},
        data() {
            return {
                checkValidation: false,
                username: "",
                password: "",
            }
        },
        computed: {
            ...mapGetters(["usernameOrPasswordIsWrong"])
        },
        validations: {
            username: {required},
            password: {required},
        },
        methods: {
            loginUser(){
                this.checkValidation = true;
                this.$v.$touch();
                if(this.$v.$invalid){
                    return;
                } else {
                    let data = {
                        username: this.username,
                        password: this.password,
                    };
                    this.$store.dispatch('loginAction', data);
                }
            },
            /*testLogin(){
                this.$store.dispatch('checkUserIsAuthenticatedAction');
            },*/
        }
    }
</script>

<style scoped>

</style>