<template>
    <div class="signup-page">
        <background-shape></background-shape>
        <div class="custom-container animated zoomIn delay-1s">
            <div class="signup-box text-center ">
                <form>
                    <input @blur="$v.userObject.username.$touch" v-model.lazy="userObject.username" class="form-control text-center" type="text" name="username" placeholder="شماره همراه">
                    <div v-if="$v.userObject.username.$error" class="has-error text-right">
                        <span v-if="!$v.userObject.username.required">شماره تلفن الزامی می باشد</span>
                        <span v-else-if="!$v.userObject.username.checkIsPhoneNumber">شماره تلفن وارد شده معتبر نمی باشد</span>
                        <span v-else-if="!$v.userObject.username.unique">شماره تلفن وارد شده وجود دارد</span>
                    </div>
                    <input v-model="userObject.email" class="form-control text-center" type="text" name="email" placeholder="ایمیل">
                    <div v-if="checkValidation && $v.userObject.email.$error" class="has-error text-right">
                        <span v-if="!$v.userObject.email.required">ایمیل الزامی می باشد</span>
                        <span v-if="!$v.userObject.email.email">ایمیل وارد شده معتبر نمی باشد</span>
<!--                        <span v-else-if="!$v.userObject.email.unique">شماره تلفن وارد شده وجود دارد</span>-->
                    </div>
                    <input v-model="userObject.password" class="form-control text-center" type="password" name="password" placeholder="رمز عبور">
                    <div v-if="checkValidation && $v.userObject.password.$error" class="has-error text-right">
                        <span v-if="!$v.userObject.password.required">پسورد الزامی می باشد</span>
                        <span v-else-if="!$v.userObject.password.minLength">پسورد باد حداقل 6 کاراکتر باشد</span>
                    </div>
                    <input v-model="userObject.confirmPassword" class="form-control text-center" type="password" name="confirmPassword" placeholder="تکرار رمز عبور">
                    <div v-if="checkValidation && $v.userObject.confirmPassword.$error" class="has-error text-right">
                        <span v-if="!$v.userObject.confirmPassword.sameAsPassword">پسورد مغایرت دارد</span>
                    </div>
                    <button class="btn btn-register" v-on:click.prevent="registerUser()">ثبت نام</button>
                </form>
                <div class="login-link text-left"><router-link to="/login" class="">ورود</router-link></div>
            </div>
            <div class="gmail-box">
                <router-link to="" class="btn">با جیمیل وارد شوید</router-link>
                <img class="gmail-logo" :src="'static/image/signup/gmaillogo.png'" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import BackgroundShape from "../../components/shared/background/BackgroundShape"
    import {required, email, sameAs, minLength, maxLength} from "vuelidate/lib/validators"
    export default {
        name: "Signup",
        components: {BackgroundShape},
        data() {
            return {
                checkValidation: false,
                userObject: {
                    username: "",
                    email: "",
                    password: "",
                    confirmPassword: "",
                }
            }
        },
        validations: {
            userObject: {
                username: {
                    required, checkIsPhoneNumber: (value) => /^[0][0-9]{10}$/.test(value),
                    unique: (value) => {
                        if(value === null || value==="") return true;
                        // return false;
                        let data = {
                            username: "09309966296",
                            flag: 1
                        };
                        Vue.http.post('users/check-email-mobile/', data)
                            .then(response => {
                                console.log(response);
                                return !!response.body.success;
                            }).catch((response) => {
                            console.log(response);
                            return true;
                        });
                        /*return  this.$store.dispatch('registerAction', data);*/
                    },
                    // checkUnique: thi.checkIsExistUser(),
                },
                email: {required, email},
                password: {required, minLength: minLength(6), maxLength: maxLength(100)},
                confirmPassword: {sameAsPassword: sameAs('password')}
            }
        },
        methods: {
            registerUser() {
                this.checkValidation = true;
                this.$v.$touch();
                if(this.$v.$invalid){
                    return;
                } else {
                    let data = {
                        username: this.userObject.username,
                        email: this.userObject.email,
                        password: this.userObject.password,
                        confirm_password: this.userObject.confirmPassword
                    };
                    this.$store.dispatch('registerAction', data);
                }
            },
            checkIsExistUser(){
                return true;
            }
        }
    }
</script>

<style scoped>

</style>