<template>
    <ul class="menue list-unstyled">
        <li class="list-inline-item"><router-link to="/">صفحه اصلی</router-link></li>
        <li class="list-inline-item" v-on:mouseenter="showProductMenue=true" v-on:mouseleave="showProductMenue=false">
            <router-link to="">محصولات</router-link>
            <product-menue :showProductMenue="showProductMenue"></product-menue>
        </li>
        <li class="list-inline-item"><router-link to="/">وبلاگ</router-link></li>
        <li class="list-inline-item"><router-link to="/">آشپزی</router-link></li>
        <li v-if="isUserAuthenticated" class="list-inline-item"><router-link :to="{name: 'Login'}" event="" @click.native.prevent="logOutAction()"><span >خروج</span></router-link></li>
        <li v-if="!isUserAuthenticated" class="list-inline-item"><router-link :to="{name: 'Login'}">ورود</router-link></li>
        <li v-if="!isUserAuthenticated" class="list-inline-item"><router-link :to="{name: 'Signup'}">ثبت نام</router-link></li>
    </ul>

</template>

<script>
    import ProductMenue from "./ProductMenue"
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: "NavTabs",
        components: {ProductMenue},
        data() {
            return {
                showProductMenue: false,
            }
        },
        computed: {
            ...mapGetters(["isUserAuthenticated"])
        },
        methods: {
            ...mapActions(["checkUserIsAuthenticatedAction", "logOutAction"]),
        },
        created() {
            this.checkUserIsAuthenticatedAction();
        }
    }
</script>

<style scoped>

</style>