<template>
    <transition enter-active-class="animated bounceInRight" leave-active-class="animated bounceOutRight">
        <div class="product-menue-box" v-if="showProductMenue">
            <div class="products text-right">
                <div class="title">محصولات</div>
                <ul class="product-group list-unstyled">
                    <li class="text-right" v-for="productCategory in productCategories" :key="productCategory.id">
                        <div class="category">
                            <span>{{productCategory.title}}</span>
                            <span class="care"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                        </div>
                        <div class="sub-product-box animated flipInY">
                            <div class="product-item" v-for="product in productCategory.subProducts" :key="product.id">
                                <router-link to=""><img class="animated infinite pulse" :src="productImageAddress + product.imagelink" alt=""><span>{{product.title}}</span>
                                </router-link>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </transition>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "ProductMenue",
        props: ["showProductMenue"],
        data() {
            return {
                productCategories: [
                    {
                        id: 1,
                        title: "خشکبار",
                        subProducts: [{id: 1, title: "عسل", imagelink: "honey.png"}, {
                            id: 2,
                            title: "برنج",
                            imagelink: "rice.png"
                        }, {id: 3, title: "کشک", imagelink: "curd.png"}]
                    },
                    {
                        id: 2,
                        title: "ادویه",
                        subProducts: [{id: 1, title: "نعنا", imagelink: "honey.png"}, {id: 2, title: "زردچوبه", imagelink: "rice.png"}, {
                            id: 3,
                            title: "بابونه",
                            imagelink: "curd.png"
                        }]
                    },
                    {
                        id: 3,
                        title: "عرقیجات",
                        subProducts: [{id: 1, title: "شاطره", imagelink: "honey.png"}, {id: 2, title: "کاسنی", imagelink: "rice.png"}, {
                            id: 3,
                            title: "بیدمشک",
                            imagelink: "curd.png"
                        }]
                    },
                ]
            }
        },
        methods: {
        },
        computed: {
            ...mapGetters(["productImageAddress"]),
        }
    }
</script>

<style scoped>

</style>